<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Filter</mat-card-title>
    <mat-card-subtitle>Choose filter</mat-card-subtitle>
  </mat-card-header>
  <form [formGroup]="formGroup">
    <mat-card-content style="display: flex; justify-content: space-around">
      <mat-form-field appearance="outline">
        <mat-label>Search string</mat-label>
        <input matInput placeholder="" formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Choose type</mat-label>
        <mat-select formControlName="type">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let el of numbers" [value]="el">
            {{el}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button (click)="search()">Search</button>
    </mat-card-content>
  </form>
</mat-card>
